name: Daily Form Check

on:
  schedule:
    - cron: '0 9 * * *' # Щодня о 9:00 UTC
  workflow_dispatch:     # Дозволяє запуск вручну з GitHub

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install puppeteer-core nodemailer

      - name: Run form check script
        env:
          URL: ${{ secrets.URL }}
          EMAIL_HOST: ${{ secrets.EMAIL_HOST }}
          EMAIL_PORT: ${{ secrets.EMAIL_PORT }}
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          EMAIL_TO: ${{ secrets.EMAIL_TO }}
          PUPPETEER_EXECUTABLE_PATH: /usr/bin/google-chrome
        run: node form-check.js

        # Reactivating workflow on 2025-10-20
